<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>JAVA WWW - zaliczenie</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<h1>!!!Odbierz darmowego Iphone 12 PRO MAX!!!</h1>
<div class="first">
    <p style="float: left;"><p1 style="margin-left:100px;"><img src="http://cdn.gsmarena.com/pics/12/09/iphone5-360-view/gsmarena_002.gif" alt="iphone"></p1></p>
    <p style="float: right;"><p1 style="margin-right:100px;"><img src="http://cdn.gsmarena.com/pics/12/09/iphone5-360-view/gsmarena_002.gif" alt="iphone"></p1></p>
    <form action="/odbior" method="POST">
        PESEL:
        <input name="PESEL" type="text"><br>
        <p style="line-height:3.5em;"></p>
        Adres:
        <input name="Adres"  type="text"><br>
        <p style="line-height:3.5em;"></p>
        <input type="submit" value="!!!Odbierz!!!">
    </form>
</div>

<div class="first">
    <form action="/kredyt" method="POST">
        Miesieczna wysokosc wynagrodzenia:
        <input name="wysokosc" type="text"><br>
        <p style="line-height:3.5em;"></p>
        ile miesisecy ma rok?:
        <input name="ile"  type="text"><br>
        <p style="line-height:3.5em;"></p>
        <input type="submit" value="Pokaz smieszny obrazek psa">
    </form>
    <p style="margin-top: 200px;"><img src="https://gifyagusi.pl/img/2019/08/30/obrazek-gif/gratuluje/Kciuki%20w%20g%C3%B3r%C4%99%20i%20napis%20gratulacje.gif" alt="gratulacje"></p>
</div>

</body>
</html>